/* BUTTON CSS ATTRIBUTES */

.btn {
    padding: 20px; 
    font-size: 30px;
    border-radius: 15px 15px 15px 15px;
    color: white;
}

#starQuizBtn:hover, #submitAnswerBtn:hover, #cancelGameBtn:hover, #endGameBtn:hover {
    background-color: rgb(85, 115, 248);
}

#starQuizBtn:active, #submitAnswerBtn:active, #cancelGameBtn:active, #endGameBtn:active {
    background-color: darkblue;
}

#starQuizBtn {
    margin: 0; 
    margin-top: 150px; 
    margin-bottom: 150px; 
    position: relative; 
    left: 50%; 
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%); 
    background-color: blue; 
}

#submitAnswerBtn {
    background-color: blue;
    margin: 20px;
}

#cancelGameBtn {
    background-color: darkred;
    margin: 20px;
}

#endGameBtn {

}



/* QUIZ FORM CLASS ATTRIBUTES */

.quizForm {
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
}

input {
    margin: 25px;
}

label {
    font-size: 25px;
    margin: 25px
}

