/* BUTTON CSS ATTRIBUTES */

.btn {
    margin: 0; 
    margin-top: 150px; 
    margin-bottom: 150px; 
    position: relative; 
    left: 50%; 
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%); 
    color: white;
    background-color: blue; 
    padding: 20px; 
    font-size: 30px;
    border-radius: 15px 15px 15px 15px;
}

.btn:hover {
    background-color: rgb(85, 115, 248);
}

.btn:active {
    background-color: darkblue;
}

/* QUIZ FORM ATTRIBUTES */

.quizForm {
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* FOOTER ATTRIBUTES */

