header {
    color: white; 
    background-color: rgb(30, 30, 97); 
    text-align: center; 
    padding: 30px;
    height: 100%;
    font-size: 30px;
    font-family: "Arial Black", Gadget, sans-serif;
    box-shadow: 0 0 15px 2px black;
    border-radius: 30px 30px 30px 30px;
}

.timer {
    text-align: center;
    background-color: rgb(30, 30, 97); 
    color: white;
    box-shadow: 0 0 15px 2px black;
    border-radius: 30px 30px 30px 30px;
    width: 50%;
    height: 100px;
    margin: auto;
    /* margin-bottom: 50px; */
    /* position: relative; */
    /* left: 50%; */
}

body {
    background-color: darkgray;
    font-family: "Arial Black", Gadget, sans-serif;
}

.container {
    background-color: lightgray;
    margin: 5%;
    border-radius: 50px 50px 50px 50px;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 0 15px 2px;
}

#SubmitAnswerForm {
    padding: 10px;
    margin: 10px;
}

.btn {
    padding: 10px; 
    min-width: 300px;
    font-size: 30px;
    border-radius: 15px 15px 15px 15px;
    color: white;
    background-color: rgb(30, 30, 97); 
    font-family: "Arial Black", Gadget, sans-serif;
    transition-duration: 0.75s;
}

#StartQuizButton:hover, #SubmitAnswerButton:hover, #CancelQuizButton:hover,
#NextQuestionButton:hover, #EndQuizButton:hover {
    background-color: rgb(85, 115, 248);
}

#StartQuizButton:active, #SubmitAnswerButton:active, #CancelQuizButton:active,
#NextQuestionButton:active, #EndQuizButton:active {
    background-color: darkblue;
}

#StartQuizButton, #NextQuestionButton, #EndQuizButton {
    margin: 0;
    margin-top: 150px;
    margin-bottom: 50px;
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#SubmitAnswerButton {
    margin: 30px;
    margin-left: 20%; 
}

#CancelQuizButton {
    background-color: darkred;
    margin: 30px;
    margin-left: 20%; 
}

#EndQuizButton {
    background-color: darkred;
}


h2, input, label {
    position: relative;
    left: auto;
    font-size: 25px;
    margin: 10px;
    text-align: center;
}



#QuizFooter {
    color: white; 
    background-color: rgb(30, 30, 97);
    text-align: center; 
    padding: 30px;
    font-family: "Arial Black", Gadget, sans-serif;
    box-shadow: 0 0 15px 2px black;
    border-radius: 30px 30px 30px 30px;
}

.hidden {
    display: none;
}

.ShowHighScore {
    background-color: white;
    border: 3px solid black;
    border-radius: 25px;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0 0 15px 2px;
}

#ShowCorrectAnswer {
    margin: auto;
    width: 50%;
    padding: 15px;
    background-color: white;
    text-align: center;
    font-size: 25px;
}

.AnswerCorrect {
    border: 3px solid green;
    color: green;
  }

.AnswerIncorrect {
    border: 3px solid red;
    color: red;
  }

  
  
  @media screen and (max-width: 1000px) {
    h2, input, label, #ShowCorrectAnswer, .ShowHighScore, .btn {
        font-size: 15px;
    }
    .btn {
        font-size: 15px;
    }
  }